body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.user-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}
.header-list-user {
    margin-top: 25px;
}
.user-table th {
    background-color: #4CAF50;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover {
    background-color: #ddd;
}

.url-list {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}
.wrapper-header {
    text-align: left;
    font-size: 25px;
    color: rgb(37, 190, 70);
}
.center {
    text-align: center;
    margin-top: 20px;
}

.nav-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #6e1eb9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.nav-button:hover {
    background-color: #271cb4;
}

.nav-button:disabled {
    background-color: #ccc;
    color: #999;
}
.users-button {
    padding: 10px 20px;
}
.navigation {
    padding: 10px 20px;
}

.block-1 {
    margin-top: 15px;
    width: 1000px;
    font-size: 20px;
    margin: 0 auto;

    padding: 20px;
}


.button-main-menu {
    display: inline-block; /* позволяет кнопке быть центрированной */
    color: white;
    text-decoration: none;
    background-color: rgb(8, 153, 73);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    width: 250px;
    margin: 10px 0; /* отступы между кнопками */
    transition: background-color 0.3s ease;
    text-align: center;
}

.button-main-menu:hover {
    background-color: #c0c0c0;
}
.menu-grid {
    text-align: center;
}





