<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>To-Do List</title>
</head>
<body>
    <h1 class="wrapper-header" style="text-align: center;">Система управления пользователями и проектами</h1>
    <div class="block-1">
        <nav class="main-menu">
            <div class="menu-grid">
                <a class='button-main-menu' href="/pages/users/">Посмотреть список пользователей</a>
                <a class="button-main-menu" href="/pages/tasks/">Посмотреть список задач</a>
                <a class="button-main-menu" href="/pages/projects/">Посмотреть список проектов</a>
                <a class="button-main-menu" href="/pages/users/create-user/">Добавить пользователя</a>

            </div>
        </nav>
    </div>
    
</body>
</html>
