

{% block content %}
    <link rel="stylesheet" href="/static/css/style.css">
    <h2 class = "header-list", style="text-align: center;">Список пользователей</h2>

    <table class="user-table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align: center;">Пользователи не найдены</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="center">
        {% if start >= step %}
            <a class="nav-button" href="/pages/users?start={{ start - step }}&stop={{ stop - step }}"> Предыдущая страница</a>
        {% endif %}
        <a class="nav-button" href="/pages/users?start={{ start + step }}&stop={{ stop + step }}">Следующая страница </a>
    </div>

    <div style="text-align: center;">
        <a class="url-list", href="/pages">Вернуться на главную страницу</a>
    </div>
{% endblock %}
